*{
    margin: 0%;
}



body{
    margin: 0%;
}

/* INICIO BARRA NAV */

#cabecalho{
    background-color: #0E0E0F;
    width: 100%;
    height: 150px;
}

h1{
    font-family: 'Junge';
    text-align: center;
    color:#91ACF2 ;
}

.container{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
}

li{
    font-family: 'Junge';
    margin: 20px;
    list-style: none;
}

li a{
    font-family: 'Junge';
    text-decoration: none;
    color: #6D95FC;
}

li a:hover{
    border: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #6D95FC;
}

#home{
    position: absolute;
    left: 10px;
    margin-top: 35px;
}

#login{
    position: absolute;
    right: 10px;
    margin-top: 35px;
}

/* FIM BARRA NAV */

/* INICIO CONTEUDO */

.banner{
    display: flex;
    align-items:start;
    justify-content: flex-end;
    background-image: url(../img/carro2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;
}

#text{
    font-family: 'Junge';
    margin-right: 200px;
    margin-top: 130px;
    margin-bottom: 20px;
    color: white;
}

@media only screen and (min-width: 412px) and (max-width: 915px) {

button{
    position: absolute;
    margin-left: 115px;
    background-color: #131313;
    border: 2px solid #235CEC;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transition: all .4s ;
    
}

button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

button:hover{
    background-color: #0f3086;
}

.container2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.box{
    background-color: #6D95FC;
    box-shadow: #4c73d4 1px 5px 10px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 40px;
    transition: all .4s;
}

.box:hover{
    background-color: #3061db;
    border-radius: 10px;
}

.container2 a{
    text-decoration: none;
    color: #0E0E0F;
}

.box img{
    width: 90px;
    height: 90px;
    position:absolute;
    margin-bottom: 50px;
}

figcaption{
    font-size: 20px;
    margin-top: 60px;
}

#titulo{
    font-family: 'Junge';
    text-align: center;
    color: black;
    margin-top: 40px;
}


.container3{
    display: flex;
    margin-top:20px ;

}

.caixa1{
    background-color: #6D95FC;
    width: 50%;
    height: 720px;
}

.caixa2{
    background-color: #303030;
    width: 50%;
    height: 720px;
}

#texto1{
    font-family: 'Junge';
    text-align: center;
    margin-top: 40px;
    color:#ffffff;
}

.main{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.main a{
    text-decoration: none;
    color: #0E0E0F;
}

.planos{
    background-color: #dad5d5;
    width: 170px;
    height: 170px;
    margin: 15px;
    border-radius: 20px;
    transition: all .4s;
}

.planos:hover{
    background-color:#b9b9b9 ;
}

hr{
    margin: 0px auto;
    width: 500px;
}

h2{
    font-family: 'Junge';
    text-align: center;
    font-size: large;
    margin-top: 5px;
}

p{
    text-align: center;
    margin-top: 50px;
}

#diferencial{
    font-family: 'Junge';
    color: #ffebeb;
    font-size: 20px;
    text-align: justify;
    margin-right: 30px;
    margin-left:30px ;
}

#beneficios{
    font-family: 'Junge';
    color: #cacaca;
    text-align: justify;
    margin-left: 20px;
    margin-right:20px ;
    font-size: 25px;
}
}

/* FIM CONTEUDO */

/* INICIO RODAPE */
footer p{
    font-size: 23px;
    margin-top: 0px;
    background-color: #0E0E0F;
    color:#cacaca;
    width: 100%;
    height: 40px;
}
/* FIM RODAPE */
