*{
    margin: 0%;
}

body{
    margin: 0%;
}

/* INICIO BARRA NAV */

#cabecalho{
    background-color: #0E0E0F;
    width: 100%;
    height: 150px;
}

h1{
    font-family: 'Junge';
    text-align: center;
    color:#91ACF2 ;
}

.container{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 30px;
}

li{
    font-family: 'Junge';
    margin: 20px;
    list-style: none;
}

li a{
    font-family: 'Junge';
    text-decoration: none;
    color: #6D95FC;
}

li a:hover{
    border: solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #6D95FC;
}

#home{
    position: absolute;
    left: 10px;
    margin-top: 35px;
}

#login{
    position: absolute;
    right: 10px;
    margin-top: 35px;
}

/* FIM BARRA NAV */

/*INICIO CONTEUDO*/
#titulo{
    text-align: center;
    color: #0E0E0F;
    font-weight: lighter;
    margin: 40px;
}

main{
    display: flex;
    justify-content: center;
}

.box{
    background-color: #6D95FC;
    width: 285px;
    height: 353px;
    margin: 20px;
    border-radius: 10px;
}

#oficina{
    font-size: 30px;
    color: white;
    font-weight: lighter;
}

.texto{
    margin: 30px;
    font-weight: lighter;
}

#endereco{
    font-size: 20px;
    color: white;
    text-align: justify;
    margin: 10px;
}

#numero{
    font-size: 20px;
    color: white;
    text-align: justify;
    margin: 10px;
}

#referencia{
    font-size: 20px;
    color: white;
    text-align: justify;
    margin: 10px;
}
/*FIM CONTEUDO*/

/* INICIO RODAPE */
footer p{
    
    font-size: 23px;
    margin-top: 0px;
    background-color: #0E0E0F;
    color:#cacaca;
    width: 100%;
    height: 40px;
    text-align: center;
}
/* FIM RODAPE */
